#toolglows-root {
  all: initial;
  position: fixed !important;
  z-index: var(--tg-z-extension) !important;
  inset: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none !important;

  > * {
    pointer-events: auto !important;
  }
}

.p-dialog-mask {
  background-color: var(--tg-scrim) !important;
}
